* {margin:0; padding:0; border:0;}

body {
  border-width: 0px;
  background: #000000;
  text-align: center;
}

img {
    vertical-align: middle;
    height: auto;
}

div.navbar {
  top: 0
}

div.textdiv {
  color: #ffffff;
  text-decoration: bold;
}

img.buttonimg {
  height: 25;
  width: auto;
}